.about-grid {
  display: grid;
  grid-template-areas:
    'image bio bio'
    'job-1 job-2 job-3';
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.bio-image {
  grid-area: image;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid $secondary-color;
  object-fit: cover;
}

.bio {
  grid-area: bio;
  font-size: 1.5rem
}

.job-1 {
  grid-area: job-1;
}

.job-2 {
  grid-area: job-2;
}

.job-3 {
  grid-area: job-3;
}

.job {
  background: lighten($primary-color, 5);
  padding: 0.5em;
  border-bottom: $image-border;
}